@font-face {
  font-family: '{{font}}';
  src: url('{{font}}.eot');
  src: url('{{font}}.eot?#{{font}}') format('embedded-opentype'),
       url('{{font}}.woff') format('woff'),
       url('{{font}}.ttf') format('truetype'),
       url('{{font}}.svg?#{{font}}') format('svg');
  font-weight: normal;
  font-style: normal;
}

.Icon {
  display: inline;
  font-family: '{{font}}';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

{{#glyphs}}
.Icon--{{name}}:before {
  content: '\{{codepoint}}';
}

{{/glyphs}}
